<footer class="app-footer">
  <div class="container-page">
    <div class="row g-3 align-items-center">
      <div class="col-12 col-md-4">
        <div class="footer-brand">Emo<span>dia</span></div>
      </div>

      <div class="col-12 col-md-4 text-md-center">
        <p>Cuidando da saúde emocional com tecnologia.</p>
      </div>

      <div class="col-12 col-md-4 text-md-end">
        <p>© 2026 Emodia.</p>
      </div>
    </div>
  </div>
</footer>