<nav class="navbar navbar-expand-lg app-navbar sticky-top">
  <div class="container-page">
    <a class="navbar-brand brand-wrap" href="/">
      <span class="brand-logo-box">
        <img src="/img/logo-emodia.png" alt="Logo Emodia" class="brand-logo" />
      </span>

      <span class="brand-name">
        Emo<span>dia</span>
      </span>
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Abrir navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav mx-lg-auto my-3 my-lg-0 gap-lg-2">
        <a class="nav-link" href="/">Início</a>
        <a class="nav-link" href="/sobre">Sobre</a>
      </div>

      <div class="navbar-actions d-flex flex-column flex-lg-row">
        <a class="btn-emodia-ghost" href="/login">
          Entrar
        </a>

        <a class="btn-emodia-primary" href="/cadastro">
          Criar conta
        </a>
      </div>
    </div>
  </div>
</nav>